.cart-list-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    padding-right: 5px; 
}
.cart-list-items-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.cart-list-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.cart-list-item:last-child {
    border-bottom: none;
}

.cart-list-item-image {
    width: 80px;
    height: 100px;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 4px;
}

.cart-list-item-details {
    flex: 1;
}

.cart-list-item-name {
    font-size: 1.1em;
    margin: 0 0 5px;
    color: #333;
}

.cart-list-item-price {
    font-size: 1em;
    color: #777;
    margin: 0 0 10px;
}

.cart-list-item-quantity {
    display: flex;
    align-items: center;
}

.cart-list-quantity-button {
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 1em;
    border-radius: 4px;
}

.cart-list-quantity-value {
    margin: 0 5px;
    font-size: 1.1em;
}

.cart-list-remove-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.cart-list-remove-button:hover {
    background-color: #1f1f1f;
}
.cart-list-empty-message{
    text-align: center;
    font-size: 1.2em;
    color: #888;
    margin-top: 20px;
}

.cart-list-modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.cart-list-total{
  font-size: 1.2em;
  color: #333;
}