  .main-ganre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap; 
    gap: 10px
  }

  .main-ganre > * {
      flex: 0 0 25%; 
      margin-bottom: 10px; 
  }
  .main-cataloge {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 10px;
    padding: 20px; 
    box-sizing: border-box;
  }

.main-load-more-button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    box-sizing: border-box; 
    display: block;
    margin: 0 auto; 
    margin-bottom: 30px;
}
.main-load-more-button:hover {
    background-color: #1f1f1f; 
}

  @media (max-width: 1000px) {
      .main-ganre {
        flex-wrap: wrap; 
        justify-content: center;
      }
  
      .main-ganre > * {
          flex: 0 0 45%; 
          margin-bottom: 10px; 
      }
  }
  
  
  @media (max-width: 800px) {
    .main-ganre {
      flex-direction: column; 
      margin-right: 30px;
    }
  
    .main-ganre > * {
          flex: 0 0 auto; 
          width: 100%; 
      }
      .main-cataloge {
        display: flex;
        align-items: start;
        padding: 10px;
        flex-wrap: wrap;
        gap: 10px
      }
  }