.reigst-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.reigst-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.reigst-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.reigst-modal-header h2 {
  margin: 0;
  font-size: 1.5em;
}

.reigst-close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0;
}

.reigst-close-button span {
    color: #888;
}

.reigst-modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.reigst-form-group {
    margin-bottom: 15px;
}
.reigst-form-group label {
    display: block;
    margin-bottom: 5px;
}
.reigst-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.reigst-input-error {
    width: 100%;
    padding: 8px;
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
}
.reigst-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}
.reigst-button:hover {
  background-color: #1f1f1f;
}

.reigst-error-message {
    color: red;
    margin-top: auto;
    margin-bottom: 10px;
}
.reigst-login {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.reigst-login span {
    color: #888;
    cursor: pointer;
}

.reigst-login span:hover {
    color: #b4b4b4;
}