.order-confirm-conatainer {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
}

.order-confirm-auth-message{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #ff0000;
}
.order-confirm-success-message{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #08441c;
}
.order-confirm-done-button {
    background-color: #000000;
    width: 100%;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
}
.order-confirm-select-address{
    font-size: 1.1em;
    margin: 5px;
}
.order-confirm-done-button:hover {
    background-color: #1f1f1f;
}
@media (max-width: 800px){
    .order-confirm-conatainer {
        width: 100%;
    }
}