.edit-book-element-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-book-element-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.edit-book-element-form-group {
    margin-bottom: 15px;
}

.edit-book-element-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.edit-book-element-input,
.edit-book-element-textarea,
.edit-book-element-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; 
}
.edit-book-element-input-error{
    width: 100%;
    padding: 10px;
    border: 1px solid #e40a0a;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; 
}
.edit-book-element-textarea {
    resize: vertical;
    min-height: 100px;
}

.edit-book-element-buttons {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-top: 20px;
}

.edit-book-element-button-save,
.edit-book-element-button-cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-book-element-button-save {
    background-color: #000000;
    color: white;
}

.edit-book-element-button-cancel {
    background-color: #b92222; 
    color: white;
}

.edit-book-element-button-save:hover {
    background-color: #1f1f1f;
}

.edit-book-element-button-cancel:hover {
    background-color: rgba(211, 47, 47, 0.842);
}
.edit-book-element-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.edit-book-element-image{
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}
.edit-book-element-image-error{
    color: #333;
    font-size: 18px;
}